# Data Cleaning and Preparation - Data Science Job Posting on Glassdoor

### Project Overview:

This data cleaning project aims to prepare 'Data Science Job Posting on Glassdoor' dataset, which was obtained from Kaggle, for further analysis. The dataset contains information about job postings, including job titles, salaries, company ratings, locations, and other attributes. The dataset requires extensive data cleaning, which includes addressing issues such as duplicating values, standardizing job titles, extracting relevant information from descriptions, cleaning salary data, and more. The cleaned dataset will serve as the foundation for subsequent data analysis and modeling tasks in the field of data science and human resources.

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import re
import warnings  
warnings.filterwarnings('ignore')

### Import Data

In [2]:
data = pd.read_csv('Uncleaned_DS_jobs.csv')
data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

## Data Preparation and Cleaning

##### Initial Data Exploration

In [3]:
rows = data.shape[0]
columns = data.shape[1]

print('Number of rows: ', rows)
print('Number of columns: ', columns)

Number of rows:  672
Number of columns:  15

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

##### Check Missing Values

In [5]:
data.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

The dataset appears to be well-documented, with no missing values in any of the attributes.

##### Check Duplicated Values

Dropping the 'index' column before checking for duplicated values is done to ensure that the 'index' column doesn't influence the duplication checks.

In [6]:
data.drop('index', axis=1, inplace = True)

After removing the column, verifies the number of rows and columns:

In [7]:
rows = data.shape[0]
columns = data.shape[1]

print('Number of rows: ', rows)
print('Number of columns: ', columns)

Number of rows:  672
Number of columns:  14

##### Find and Remove Duplicates:

In [8]:
# Extracts duplicate rows in the DataFrame.
data[data.duplicated()]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
135,Machine Learning Engineer,$90K-$109K (Glassdoor est.),Role Description\nTriplebyte screens and evalu...,3.2,Triplebyte\n3.2,Remote,"San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
136,Senior Data Engineer,$90K-$109K (Glassdoor est.),Lendio is looking to fill a position for a Sen...,4.9,Lendio\n4.9,"Lehi, UT","Lehi, UT",201 to 500 employees,2011,Company - Private,Lending,Finance,$50 to $100 million (USD),-1
358,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
359,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
360,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
362,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
389,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
496,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
497,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
498,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
499,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
500,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1

In [9]:
# Check the number of duplicated rows in the DataFrame data.
data.duplicated().sum()

13

In [10]:
# Remove duplicated rows
data.drop_duplicates(inplace = True)

A total of 13 duplicate rows were identified within the DataFrame. To maintain data quality and uniqueness, these duplicate entries are removed  from the dataset prior to conducting further analysis.

##### Verifying Data Dimension After Removing Duplicated Values

In [11]:
rows = data.shape[0]
columns = data.shape[1]

print('Number of rows: ', rows)
print('Number of columns: ', columns)

Number of rows:  659
Number of columns:  14

## Data Cleaning For All Columns

### Column 1: Job Title

In [12]:
# Verify initial no. of rows
print('Initial no. of rows for Job Title: ', data['Job Title'].count())

Initial no. of rows for Job Title:  659

In [13]:
# Check if any value in the 'Job Title' column contains leading or trailing spaces
has_spaces = data['Job Title'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:", has_spaces.any())

Leading or trailing spaces detected: False

In [14]:
print('List of Job Title:', data['Job Title'].unique())
print()
print()
print('Total number of unique titles:', data['Job Title'].nunique())

List of Job Title: ['Sr Data Scientist' 'Data Scientist'
 'Data Scientist / Machine Learning Expert'
 'Staff Data Scientist - Analytics'
 'Data Scientist - Statistics, Early Career' 'Data Modeler'
 'Experienced Data Scientist' 'Data Scientist - Contract'
 'Data Analyst II' 'Medical Lab Scientist'
 'Data Scientist/Machine Learning' 'Human Factors Scientist'
 'Business Intelligence Analyst I- Data Insights' 'Data Scientist - Risk'
 'Data Scientist-Human Resources'
 'Senior Research Statistician- Data Scientist' 'Data Engineer'
 'Associate Data Scientist' 'Business Intelligence Analyst'
 'Senior Analyst/Data Scientist' 'Data Analyst'
 'Machine Learning Engineer' 'Data Analyst I'
 'Scientist - Molecular Biology'
 'Computational Scientist, Machine Learning' 'Senior Data Scientist'
 'Jr. Data Engineer' 'E-Commerce Data Analyst' 'Data Analytics Engineer'
 'Product Data Scientist - Ads Data Science'
 'Data Scientist - Intermediate' 'Global Data Analyst'
 'Data & Machine Learning Scientist' 'Data Scientist - Machine Learning'
 'Data Engineer (Remote)'
 'Data Scientist, Applied Machine Learning - Bay Area'
 'Principal Data Scientist' 'Business Data Analyst'
 'Purification Scientist' 'Data Engineer, Enterprise Analytics'
 'Data Scientist 3 (718)' 'Real World Science, Data Scientist'
 'Data Scientist - Image and Video Analytics'
 'Data Science Manager, Payment Acceptance - USA'
 'Data Scientist / Applied Mathematician'
 'Patient Safety- Associate Data Scientist' '(Sr.) Data Scientist -'
 'Data Scientist, Kinship - NYC/Portland'
 'Applied Technology Researcher / Data Scientist'
 'Health Data Scientist - Biomedical/Biostats' 'Staff Data Scientist'
 'Sr Data Engineer (Sr BI Developer)' 'Lead Data Scientist'
 'RFP Data Analyst' 'Data Scientist (TS/SCI)'
 'Software Engineer - Data Science' 'Data Analyst/Engineer'
 'NGS Scientist' 'Senior Data Engineer'
 'Sr. ML/Data Scientist - AI/NLP/Chatbot'
 'Data Integration and Modeling Engineer' 'Tableau Data Engineer 20-0117'
 'AI Data Scientist' 'Research Scientist Patient Preferences (Remote)'
 'Scientist - Biomarker and Flow Cytometry' 'Analytics Manager'
 'Staff Scientist- Upstream PD' 'Sr Scientist - Extractables & Leachables'
 'ELISA RESEARCH SCIENTIST (CV-15)' 'Say Business Data Analyst'
 'Geospatial Data Scientist' 'Computational Scientist'
 'Senior Data Analyst' 'Sr Data Analyst'
 'Machine Learning Scientist - Bay Area, CA'
 'Senior Data Scientist - Algorithms'
 'Senior Data & Machine Learning Scientist'
 'Research Scientist - Patient-Centered Research (Remote)'
 'Jr. Business Data Analyst (position added 6/12/2020)'
 'Sr. Data Scientist II' 'Production Engineer - Statistics/Data Analysis'
 'Statistical Scientist' 'Computational Behavioral Scientist'
 'Principal Data Scientist - Machine Learning'
 'Principal Machine Learning Scientist'
 'Senior Data Scientist - R&D Oncology' 'Health Plan Data Analyst, Sr'
 'Principal Scientist/Associate Director, Quality Control and Analytical Technologies'
 'Analytics - Business Assurance Data Analyst'
 'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab'
 'Data Science Instructor' 'Senior Business Intelligence Analyst'
 'In-Line Inspection Data Analyst'
 'Data Scientist - TS/SCI FSP or CI Required'
 'Data Scientist - TS/SCI Required' 'Data Science Software Engineer'
 'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR'
 'AI Ops Data Scientist' 'Intelligence Data Analyst, Senior'
 'Analytics Manager - Data Mart' 'Data Modeler (Analytical Systems)'
 'Senior Machine Learning Scientist - Bay Area, CA'
 'Report Writer-Data Analyst' 'Staff Data Scientist - Pricing'
 'Equity Data Insights Analyst - Quantitative Analyst'
 'Operations Data Analyst' 'Software Data Engineer'
 'Real World Evidence (RWE) Scientist' 'Computer Scientist 1'
 'Environmental Data Science' 'Staff BI and Data Engineer'
 'Data Scientist - Statistics, Mid-Career' 'Director of Data Science'
 'Data Engineer, Digital & Comp Pathology'
 'Manager / Lead, Data Science & Analytics'
 'Diversity and Inclusion Data Analyst' 'Data Scientist Machine Learning'
 'Chief Scientist' 'Development Scientist, Voltaren'
 'Principal Data & Analytics Platform Engineer'
 'Machine Learning Engineer/Scientist' 'Data Analyst - Unilever Prestige'
 'VP, Data Science' 'Data Engineer - Kafka' 'Decision Scientist'
 'Data Science All Star Program - Data Engineer Track'
 'Scientist - Machine Learning' 'Sr. Data Scientist'
 'Applied AI Scientist / Engineer'
 'Data Engineer (Analytics, SQL, Python, AWS)'
 'Senior Data Analyst - Finance & Platform Analytics'
 'Market Research Data Scientist'
 'IT Partner Digital Health Technology and Data Science'
 'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG'
 'Senior Clinical Data Scientist Programmer'
 'Computer Vision / Deep Learning Scientist'
 'Data Solutions Engineer - Data Modeler'
 'Data Scientist (TS/SCI w/ Poly)'
 'Weapons and Sensors Engineer/Scientist' 'Applied Computer Scientist'
 'Cloud Data Engineer (Azure)'
 'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift'
 'Sr. Data Analyst'
 'Senior Scientist - Toxicologist - Product Integrity (Stewardship)'
 'Senior Machine Learning Engineer'
 'Data Scientist- Industrial Discrete Sector Industry'
 'Senior Principal Data Scientist (Python/R)'
 'Data Scientist(s)/Machine Learning Engineer'
 'Scientist / Group Lead, Cancer Biology'
 'Manager, Field Application Scientist, Southeast'
 'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING'
 'Machine Learning Scientist / Engineer' 'Data Science Analyst'
 'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY'
 'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)'
 'Clinical Data Analyst' 'Data Scientist Technical Specialist'
 'Data Science Manager' 'Big Data Engineer' 'Data Architect'
 'Aviation AI/ML Data Scientist' 'Machine Learning Engineer, Sr.'
 'Information Systems Engineering Specialist (Engineering Scientist)'
 'Scientist/Research Associate-Metabolic Engineering'
 'Vice President, Biometrics and Clinical Data Management'
 'Enterprise Data Analyst (Enterprise Portfolio Management Office)'
 'Lead Data Scientist – Network Analysis and Control'
 'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics'
 'Developer III - Data Science'
 'Hydrogen/Tritium Materials Scientist (Experienced)'
 'Data Scientist/Data Analytics Practitioner'
 'AI/ML - Machine Learning Scientist, Siri Understanding']


Total number of unique titles: 172

Upon reviewing the unique job titles, it has become evident that there are non-data-related roles present in the dataset. To address this, I will compile a list of keywords associated with data-related careers. This list will be used to filter out job titles that are not relevant to our analysis.

In [15]:
# First define a list of relevant data career keywords
data_career_keywords = ['Data', 'Data Scientist', 'Machine Learning', 'Data Analyst' 'Developer','Business Intelligence','Analytics',]

# then filter the job titles with any of the data career keywords
data_careers = data[data['Job Title'].str.contains('|'.join(data_career_keywords), case=True)]

In [16]:
# Update 'data' DataFrame to include only the rows that match the 'data_careers' condition 
data = data.loc[data_careers.index]

In [17]:
# To verify the no. of rows after filtering the job titles with the assigned career keywords
data['Job Title'].count()

611

In [18]:
# To identify and filter job titles with parentheses in their name
filtered_jobs = data[data["Job Title"].str.contains('\([^()]+\)', regex=True)]
filtered_jobs["Job Title"]

70                                Data Engineer (Remote)
79                                Data Scientist 3 (718)
93                                (Sr.) Data Scientist -
106                   Sr Data Engineer (Sr BI Developer)
112                              Data Scientist (TS/SCI)
181    Jr. Business Data Analyst (position added 6/12...
218                    Data Modeler (Analytical Systems)
381                    Data Modeler (Analytical Systems)
383          Data Engineer (Analytics, SQL, Python, AWS)
391    Software Engineer (Data Scientist, C,C++,Linux...
397                      Data Scientist (TS/SCI w/ Poly)
401                          Cloud Data Engineer (Azure)
508           Senior Principal Data Scientist (Python/R)
511          Data Scientist(s)/Machine Learning Engineer
544                    Data Modeler (Analytical Systems)
548          Data Engineer (Analytics, SQL, Python, AWS)
549                               Data Scientist 3 (718)
553    Software Engineer - Machine Learning & Data Sc...
573                      Data Scientist (TS/SCI w/ Poly)
578                          Cloud Data Engineer (Azure)
581    Enterprise Data Analyst (Enterprise Portfolio ...
611                               (Sr.) Data Scientist -
640          Data Scientist(s)/Machine Learning Engineer
Name: Job Title, dtype: object

After filtering out job titles with parentheses in their names, the code proceeds to extract and list the substrings that match the specified regex pattern.

In [19]:
# Regular Expression Matching
matches = data['Job Title'].str.findall(r'\([^()]+\)')

# Print the matched substrings
for match_list in matches:
    for match in match_list:
        print(match)

(Remote)
(718)
(Sr.)
(Sr BI Developer)
(TS/SCI)
(position added 6/12/2020)
(Analytical Systems)
(Analytical Systems)
(Analytics, SQL, Python, AWS)
(Data Scientist, C,C++,Linux,Unix)
(TS/SCI w/ Poly)
(Azure)
(Python/R)
(s)
(Analytical Systems)
(Analytics, SQL, Python, AWS)
(718)
(Applied Intelligence Services Team)
(TS/SCI w/ Poly)
(Azure)
(Enterprise Portfolio Management Office)
(Sr.)
(s)

We've noticed that most information in parentheses within job titles is not relevant, except for "(Sr.)," which indicates "Senior." To make the data cleaner, we'll replace "(Sr.)" with "Senior" and remove all other parentheses and symbols from job titles. This will standardize the titles for better analysis.

In [20]:
# To replace (Sr.) with Senior
data["Job Title"]= data.loc[:,"Job Title"].str.replace("(Sr.)","Senior ")

In [21]:
# Remove all other occurrences of parenthesis from the 'Job Title' column
data['Job Title'] = data['Job Title'].str.replace(r'\([^()]+\)', '', regex=True)

# To confirm that the column has been updated
data['Job Title'].value_counts().head(20)

Data Scientist                                                         326
Data Engineer                                                           26
Senior Data Scientist                                                   21
Machine Learning Engineer                                               15
Data Analyst                                                            12
Senior Data Analyst                                                      7
Senior Data Engineer                                                     4
Data Scientist - TS/SCI FSP or CI Required                               4
Data Science Software Engineer                                           4
Analytics - Business Assurance Data Analyst                              3
Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab      3
Senior Business Intelligence Analyst                                     3
Senior  ML/Data Scientist - AI/NLP/Chatbot                               3
Data Engineer                                                            3
Lead Data Scientist                                                      3
Data Scientist - TS/SCI Required                                         3
AI Ops Data Scientist                                                    3
Senior Machine Learning Scientist - Bay Area, CA                         3
Principal Data Scientist                                                 3
Data Scientist                                                           3
Name: Job Title, dtype: int64

The dataset exhibits a wide range of job titles, each with its unique characteristics. To streamline and simplify this diversity, a specialized function has been created. This function is designed to identify patterns that signify common roles within the data-related domain.

In [22]:
# Define a function to update job titles based on specific patterns
def update_job_titles(title):
    if pd.notna(title):
        title = title.lower()
        if 'data science' in title or 'data scientist' in title or 'software engineer' in title:
            return 'Data Scientist' + (' - Senior' if 'senior' in title else '')
        elif 'data analyst' in title or 'data analysis' in title or 'data insights analyst' in title:
            return 'Data Analyst'+ (' - Senior' if 'senior' in title else '')
        elif 'business intelligence'in title:
            return 'Business Intelligence Analyst'+ (' - Senior' if 'senior' in title else '')
        elif 'ml' in title or 'ai' in title or 'machine learning' in title:
            return 'Machine Learning Engineer'+ (' - Senior' if 'senior' in title else '')
        elif 'data engineer' in title or 'data analytics engineer' in title or 'data integration and modeling engineer' in title or 'production engineer - statistics/data analysis' in title or 'principal data & analytics platform engineer' in title:
            return 'Data Engineer'+ (' - Senior' if 'senior' in title else '')
        elif 'analytics manager' in title:
            return 'Analytics Manager'
        elif 'data modeler' in title:
            return 'Data Modeler'
        elif 'data architect' in title:
            return 'Data Architect'
        else:
            updated_title = title.title()                 
        return updated_title
    
# Apply the update_job_titles function to the 'Job_Title' column
data['Updated_Job_Title'] = data['Job Title'].apply(update_job_titles)

In [23]:
# To verify changes after applying update_job_titles function
data['Updated_Job_Title'].value_counts()

Data Scientist                                             423
Data Engineer                                               44
Data Scientist - Senior                                     40
Data Analyst                                                37
Machine Learning Engineer                                   27
Data Analyst - Senior                                       12
Machine Learning Engineer - Senior                           7
Data Modeler                                                 5
Data Engineer - Senior                                       5
Business Intelligence Analyst                                3
Analytics Manager                                            3
Business Intelligence Analyst - Senior                       3
Data Architect                                               1
Vice President, Biometrics And Clinical Data Management      1
Name: Updated_Job_Title, dtype: int64

In [24]:
# Drop the "Job Title" column
data.drop(columns=['Job Title'], inplace=True)

### Column 2: Salary Estimate

In [25]:
# To verify the pattern and distribution of salary estimates in the dataset
data['Salary Estimate'].value_counts()

$79K-$131K (Glassdoor est.)     31
$99K-$132K (Glassdoor est.)     31
$75K-$131K (Glassdoor est.)     31
$137K-$171K (Glassdoor est.)    28
$90K-$109K (Glassdoor est.)     23
$79K-$106K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$79K-$147K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$128K-$201K (Glassdoor est.)    20
$105K-$167K (Glassdoor est.)    20
$141K-$225K (Glassdoor est.)    20
$101K-$165K (Glassdoor est.)    20
$112K-$116K (Glassdoor est.)    19
$92K-$155K (Glassdoor est.)     19
$90K-$124K (Glassdoor est.)     19
$79K-$133K (Glassdoor est.)     19
$31K-$56K (Glassdoor est.)      19
$80K-$132K (Glassdoor est.)     19
$66K-$112K (Glassdoor est.)     19
$56K-$97K (Glassdoor est.)      18
$71K-$123K (Glassdoor est.)     18
$145K-$225K(Employer est.)      17
$212K-$331K (Glassdoor est.)    17
$95K-$119K (Glassdoor est.)     16
$122K-$146K (Glassdoor est.)    15
$110K-$163K (Glassdoor est.)    15
$138K-$158K (Glassdoor est.)    14
Name: Salary Estimate, dtype: int64

In [26]:
# To ensure the salary values are in a numeric format
data['Salary Estimate'] = data['Salary Estimate'].str.replace(r'[\$,K]', '', regex=True)

# To extract the salary range from the "Salary Estimate" column
data['Salary Estimate'] = data['Salary Estimate'].str.extract(r'(\d+-\d+)')

In [27]:
# Split the 'Salary Estimate' column into 'Min Salary' and 'Max Salary' columns
data[['Min Salary ($K)', 'Max Salary ($K)']] = data['Salary Estimate'].str.split('-', expand=True)

# Convert the columns to float
data['Min Salary ($K)'] = data['Min Salary ($K)'].str.replace('[^\d.]', '', regex=True).astype(float)
data['Max Salary ($K)'] = data['Max Salary ($K)'].str.replace('[^\d.]', '', regex=True).astype(float)

In [28]:
# Calculate Average Salary
data['Average Salary ($K)'] = (data['Min Salary ($K)'] + data['Max Salary ($K)']) / 2

In [29]:
# To confirm the changes have been updated
data

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Updated_Job_Title,Min Salary ($K),Max Salary ($K),Average Salary ($K)
0,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Data Scientist - Senior,137.0,171.0,154.0
1,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Data Scientist,137.0,171.0,154.0
2,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Data Scientist,137.0,171.0,154.0
3,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Data Scientist,137.0,171.0,154.0
4,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist,137.0,171.0,154.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,Data Scientist,105.0,167.0,136.0
668,105-167,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,Data Scientist,105.0,167.0,136.0
669,105-167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1,Data Scientist,105.0,167.0,136.0
670,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,Data Scientist,105.0,167.0,136.0
671,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,Data Scientist,105.0,167.0,136.0

New columns have been added to the dataset: `Min Salary ($K)` to represent the minimum salary estimate, `Max Salary ($K)` to represent the maximum salary estimate, and `Average Salary ($K)` to represent the average salary estimate. These columns provide a more structured way to access and analyze salary data.

In [30]:
# Drop 'Salary Estimate' column
data.drop(columns=['Salary Estimate'], inplace=True)

### Column 3: Job Description

In [31]:
data['Job Description']

0      Description\n\nThe Senior Data Scientist is re...
1      Secure our Nation, Ignite your Future\n\nJoin ...
2      Overview\n\n\nAnalysis Group is one of the lar...
3      JOB DESCRIPTION:\n\nDo you have a passion for ...
4      Data Scientist\nAffinity Solutions / Marketing...
                             ...
667    Summary\n\nWe’re looking for a data scientist ...
668    Job Description\nBecome a thought leader withi...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    Description\n\nThe Data Scientist will be part...
Name: Job Description, Length: 611, dtype: object

Analyzing the "Job Description" column allowed us to pinpoint several common tools that are closely linked to specific job titles. By identifying these tools within the job descriptions, we gained insights into the skills and technologies that are commonly required for various roles.

In [32]:
# Define a list of common tools
common_tools = ['Python', 'R', 'Java', 'Scala', 'SQL', 'NoSQL', 'Git', 'Power BI', 'Tableau', 'ETL', 'SAS', 'AWS',
               'Hadoop', 'Spark']

In [33]:
# Define a function to extract job titles that mention common tools
def extract_job_titles(description):
    titles = []
    for tool in common_tools:
        if tool in description:
            titles.append(tool)
    return ', '.join(titles) if titles else 'N/A'

In [34]:
# Apply the function to the 'Job_Description' column
data['Common_Tools_Required'] = data['Job Description'].apply(extract_job_titles)

In [35]:
#null_description_rows = data[data['Common_Tools_Required'].isnull()]

In [36]:
# Display the extracted job titles associated with the common tools
# pd.set_option('display.max_rows', None)
data[['Updated_Job_Title', 'Common_Tools_Required']]

,Updated_Job_Title,Common_Tools_Required
0,Data Scientist - Senior,"R, AWS"
1,Data Scientist,"R, SQL, Hadoop"
2,Data Scientist,"Python, R, AWS"
3,Data Scientist,"R, SQL, NoSQL, Git"
4,Data Scientist,"Python, R, SQL, SAS"
...,...,...
667,Data Scientist,"Python, R, SQL, Power BI, Tableau, Hadoop"
668,Data Scientist,R
669,Data Scientist,"Python, R, Java, Scala, SQL, Power BI, Tableau..."
670,Data Scientist,"Python, R, Java, Scala, SQL, Hadoop, Spark"
671,Data Scientist,"Python, R, SQL, Tableau, SAS"

### Column 4: Rating

In [37]:
# To verify the distribution of rating and to identify any potential outliers
rating_counts = data['Rating'].value_counts().reset_index()
rating_counts.columns = ['Rating', 'Count']
rating_counts

    Rating  Count
0      3.5     55
1      3.7     38
2      3.3     37
3      4.0     37
4     -1.0     36
5      3.9     33
6      3.8     32
7      5.0     32
8      3.6     31
9      3.4     29
10     4.5     27
11     4.2     25
12     4.1     25
13     4.4     23
14     4.7     22
15     3.2     20
16     4.8     20
17     4.3     14
18     2.9     14
19     4.6     12
20     3.1     12
21     2.7      9
22     4.9      9
23     3.0      7
24     2.6      4
25     2.8      3
26     2.5      2
27     2.3      1
28     2.2      1
29     2.1      1

It was observed that there are rows in the dataset with a Rating value of -1, which is not representative of valid ratings and can be considered as outliers. Therefore, I have decided to remove these rows to enhance the data quality and the robustness of the analysis

In [38]:
# Remove rows with a 'Rating' value of -1
data = data[data['Rating'] != -1]

In [39]:
# To verify the changes made
rating_counts = data['Rating'].value_counts().reset_index()
rating_counts.columns = ['Rating', 'Count']
rating_counts

    Rating  Count
0      3.5     55
1      3.7     38
2      3.3     37
3      4.0     37
4      3.9     33
5      3.8     32
6      5.0     32
7      3.6     31
8      3.4     29
9      4.5     27
10     4.2     25
11     4.1     25
12     4.4     23
13     4.7     22
14     3.2     20
15     4.8     20
16     2.9     14
17     4.3     14
18     4.6     12
19     3.1     12
20     2.7      9
21     4.9      9
22     3.0      7
23     2.6      4
24     2.8      3
25     2.5      2
26     2.2      1
27     2.3      1
28     2.1      1

### Column 5: Company Name

In [40]:
data['Company Name']

0                  Healthfirst\n3.1
1                      ManTech\n4.2
2               Analysis Group\n3.8
3                      INFICON\n3.5
4           Affinity Solutions\n2.9
                   ...
665    Criterion Systems, Inc.\n3.8
666        Foundation Medicine\n4.0
667                   TRANZACT\n3.6
670       ChaTeck Incorporated\n5.0
671              1-800-Flowers\n2.7
Name: Company Name, Length: 575, dtype: object

In [41]:
# Remove numbers and newline characters
data['Company Name'] = data['Company Name'].str.replace(r'[^A-Za-z\n\s]+', '', regex=True)

# Remove extra spaces and newline characters
data['Company Name'] = data['Company Name'].str.replace(r'[\n\s]+', ' ', regex=True)

In [42]:
# Check if any value in the 'Company Name' column contains leading or trailing spaces
whitespace = data['Company Name'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:", whitespace.any())

Leading or trailing spaces detected: True

In [43]:
# Strip leading and trailing spaces
data['Company Name'] = data['Company Name'].str.strip()

In [44]:
# To confirm the column has been updated
whitespace = data['Company Name'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:", whitespace.any())

Leading or trailing spaces detected: False

### Column 6: Location

In [45]:
# To display all rows in the DataFrame 
pd.set_option('display.max_rows', None)

# Check distribution of location
data['Location'].value_counts()

San Francisco, CA             48
New York, NY                  47
Washington, DC                26
Boston, MA                    22
Chicago, IL                   20
Herndon, VA                   19
Cambridge, MA                 16
McLean, VA                    12
United States                 10
Santa Clara, CA                9
Chantilly, VA                  9
Saint Louis, MO                8
Gaithersburg, MD               7
Redwood City, CA               7
Atlanta, GA                    7
San Diego, CA                  6
Falls Church, VA               5
Thousand Oaks, CA              5
Seattle, WA                    5
Denver, CO                     5
Reston, VA                     5
Baltimore, MD                  5
Annapolis Junction, MD         5
Alexandria, VA                 4
Pittsburgh, PA                 4
Palo Alto, CA                  4
San Jose, CA                   4
Fort Belvoir, VA               4
San Carlos, CA                 4
Bellevue, WA                   4
Cincinnati, OH                 4
Remote                         4
Plano, TX                      4
Merrifield, VA                 3
Arlington, VA                  3
Newton, MA                     3
Fort Worth, TX                 3
Cupertino, CA                  3
Cedar Rapids, IA               3
Santa Barbara, CA              3
Maple Plain, MN                3
Bedford, MA                    3
Richland, WA                   3
Nashville, TN                  3
Hartford, CT                   3
Memphis, TN                    3
Orlando, FL                    3
Carson, CA                     3
Winter Park, FL                3
Sunnyvale, CA                  3
Raleigh, NC                    3
Edison, NJ                     3
Oak Ridge, TN                  2
Waltham, MA                    2
Adelphi, MD                    2
Birmingham, AL                 2
Kansas City, MO                2
Alpharetta, GA                 2
Southfield, MI                 2
Fairfax, VA                    2
Concord, CA                    2
Ann Arbor, MI                  2
San Clemente, CA               2
Oakland, CA                    2
Columbia, MD                   2
Vienna, VA                     2
Kent, OH                       2
Durham, NC                     2
Lexington Park, MD             2
Philadelphia, PA               2
Irvine, CA                     2
The Woodlands, TX              2
Hampton, VA                    2
Scotts Valley, CA              2
Tulsa, OK                      2
New Jersey                     2
Springfield, VA                2
Santa Cruz, CA                 2
Chandler, AZ                   2
Austin, TX                     2
Longmont, CO                   2
Northbrook, IL                 2
Emeryville, CA                 2
Lexington, MA                  2
Sheboygan, WI                  2
Bothell, WA                    2
Utah                           2
Santa Monica, CA               2
Indianapolis, IN               2
Lincoln, NE                    1
Lombard, IL                    1
Ashburn, VA                    1
Boulder, CO                    1
Dearborn, MI                   1
Open Fork, VA                  1
Mountain View, CA              1
Germantown, MD                 1
Brooklyn, NY                   1
Winters, TX                    1
Manchester, NH                 1
Jersey City, NJ                1
Overland Park, KS              1
Oxnard, CA                     1
Phoenix, AZ                    1
San Ramon, CA                  1
Portsmouth, NH                 1
Omaha, NE                      1
Colorado Springs, CO           1
Trumbull, CT                   1
Foster City, CA                1
West Chester, PA               1
Houston, TX                    1
Naperville, IL                 1
Oakville, CA                   1
Bridgeport, WV                 1
Orange, CA                     1
Wellesley, MA                  1
California                     1
Gahanna, OH                    1
Minneapolis, MN                1
Collegeville, PA               1
Rancho Cucamonga, CA           1
South San Francisco, CA        1
Simi Valley, CA                1
Portland, OR                   1
Silver Spring, MD              1
Patuxent, Anne Arundel, MD     1
Appleton, WI                   1
Fort Sam Houston, TX           1
Wilmington, DE                 1
Pleasanton, CA                 1
Hamilton, NJ                   1
Frederick, MD                  1
Ewing, NJ                      1
Woburn, MA                     1
Fremont, CA                    1
Schaumburg, IL                 1
Texas                          1
Champaign, IL                  1
Charlotte, NC                  1
Beavercreek, OH                1
Spartanburg, SC                1
Timonium, MD                   1
Burlingame, CA                 1
Bethesda, MD                   1
Linthicum Heights, MD          1
Dayton, OH                     1
Lehi, UT                       1
New Orleans, LA                1
Culver City, CA                1
Lake Oswego, OR                1
San Mateo, CA                  1
Harrisburg, PA                 1
Holyoke, MA                    1
Blue Bell, PA                  1
Woodbridge, NJ                 1
Columbia, MO                   1
Fort Meade, MD                 1
Carpinteria, CA                1
Lebanon, IN                    1
Hill AFB, UT                   1
Cleveland, OH                  1
Norwell, MA                    1
Akron, OH                      1
Fort Wayne, IN                 1
Maryland Heights, MO           1
Coral Gables, FL               1
Brisbane, CA                   1
Peoria, IL                     1
Carmel, IN                     1
Woodlawn, MD                   1
Monterey, CA                   1
Richmond, VA                   1
Yakima, WA                     1
Sacramento, CA                 1
Monroe, WI                     1
Dallas, TX                     1
Menlo Park, CA                 1
Oshkosh, WI                    1
Livermore, CA                  1
Danvers, MA                    1
Piscataway, NJ                 1
Rockville, MD                  1
Aurora, CO                     1
Fort Lee, NJ                   1
Name: Location, dtype: int64

In [46]:
# Identify no. of remote location
data[data['Location']== 'Remote']['Location'].value_counts()

Remote    4
Name: Location, dtype: int64

I'm using the rsplit method to split the 'Location' column because I want to separate the city and state components accurately. Unlike the regular split method, which splits from the left (beginning of the string), rsplit splits from the right (end of the string), ensuring that I correctly handle cases where the location might contain multiple commas, such as 'Patuxent, Anne Arundel  MD.' By splitting on the last comma and space (', '), I can reliably separate the city and state components, even when the location contains additional commas.

In [47]:
# Split 'Location' into 'Location_City' and 'Location_State'
data[['Location_City', 'Location_State']] = data['Location'].str.rsplit(', ', 1, expand=True)
# Sets the values of 'Location_City' and 'Location_State' to 'Remote' for rows where the 'Location' is 'Remote
data.loc[data['Location'] == 'Remote', ['Location_City', 'Location_State']] = 'Remote'
# # Display the output to verify the newly created columns
data[['Location_City', 'Location_State']]

              Location_City Location_State
0                  New York             NY
1                 Chantilly             VA
2                    Boston             MA
3                    Newton             MA
4                  New York             NY
5             Santa Barbara             CA
6                 Cambridge             MA
7                   Bedford             MA
8                 San Diego             CA
9                   Chicago             IL
10                  Herndon             VA
11              Saint Louis             MO
12                 Richland             WA
13               Northbrook             IL
14               Washington             DC
15               Washington             DC
16                   Remote         Remote
17                  Memphis             TN
18                    Plano             TX
20                 New York             NY
21                 New York             NY
23                 Appleton             WI
24                  Chicago             IL
25                  Atlanta             GA
26                  Orlando             FL
27                Lexington             MA
28                   McLean             VA
29            San Francisco             CA
30                   Boston             MA
31                Cambridge             MA
32                   Boston             MA
33                Sheboygan             WI
34            United States           None
35                  Bothell             WA
36                  Lincoln             NE
37            Overland Park             KS
38                Chantilly             VA
39             Santa Monica             CA
40                   Boston             MA
41               Portsmouth             NH
42                    Ewing             NJ
44                Palo Alto             CA
45                Cambridge             MA
46                   Boston             MA
47                 Bellevue             WA
48            San Francisco             CA
49                Cambridge             MA
50            San Francisco             CA
51                Cambridge             MA
52            San Francisco             CA
53                   Remote         Remote
54              New Orleans             LA
55                    Akron             OH
56              Saint Louis             MO
57            San Francisco             CA
58            San Francisco             CA
59              Saint Louis             MO
60               Fort Wayne             IN
61                   Woburn             MA
62                  Bedford             MA
63            Santa Barbara             CA
64                   Carson             CA
65             Coral Gables             FL
66                 New York             NY
67              Santa Clara             CA
68                  Chicago             IL
69                 Brisbane             CA
70              Winter Park             FL
71             Redwood City             CA
72            San Francisco             CA
73                   Peoria             IL
75                   Carmel             IN
76                 New York             NY
77               Washington             DC
78                 New York             NY
79               Emeryville             CA
80             Gaithersburg             MD
81               Washington             DC
82              Saint Louis             MO
83                 Longmont             CO
84                   Austin             TX
85            San Francisco             CA
86                   Yakima             WA
87               Santa Cruz             CA
88                   Boston             MA
89            United States           None
90             Gaithersburg             MD
91              Springfield             VA
92               Alexandria             VA
93                     Utah           None
94               Washington             DC
95                San Diego             CA
96                   Reston             VA
97                 New York             NY
98                   Denver             CO
99               Washington             DC
100              New Jersey           None
101                  Aurora             CO
102           Santa Barbara             CA
103           San Francisco             CA
104               San Diego             CA
105                Hill AFB             UT
106                Chandler             AZ
107            Indianapolis             IN
108               San Diego             CA
109               Chantilly             VA
110               Nashville             TN
111                Timonium             MD
112                 Herndon             VA
113              Burlingame             CA
114                  Reston             VA
115                New York             NY
116      Annapolis Junction             MD
117               Nashville             TN
119                Bethesda             MD
120                  Dayton             OH
121           San Francisco             CA
122                 Herndon             VA
123             Winter Park             FL
124              Schaumburg             IL
125               Cupertino             CA
126             Saint Louis             MO
127                 Chicago             IL
128             Winter Park             FL
129               Cupertino             CA
130           San Francisco             CA
131                    Lehi             UT
132             Culver City             CA
133             Lake Oswego             OR
134                  Remote         Remote
137               San Mateo             CA
138           San Francisco             CA
139               Palo Alto             CA
140                 Holyoke             MA
141                 Chicago             IL
142           San Francisco             CA
143                  McLean             VA
144                 Herndon             VA
146              Woodbridge             NJ
148               Cambridge             MA
149                Dearborn             MI
150        Maryland Heights             MO
152             Carpinteria             CA
155             Saint Louis             MO
156                 Herndon             VA
157              Washington             DC
159              Fort Meade             MD
160           San Francisco             CA
161                Columbia             MO
162               Chantilly             VA
163              Washington             DC
165                Chandler             AZ
166           San Francisco             CA
167           San Francisco             CA
168              Birmingham             AL
169               Blue Bell             PA
170                 Chicago             IL
171            Redwood City             CA
172            Redwood City             CA
173                New York             NY
174               San Diego             CA
175                 Chicago             IL
176              Cincinnati             OH
177                Richland             WA
178                 Memphis             TN
179                 Memphis             TN
181              Harrisburg             PA
182                New York             NY
183               Oak Ridge             TN
184           San Francisco             CA
185                  Boston             MA
186              San Carlos             CA
189                 Waltham             MA
190           San Francisco             CA
191             Santa Clara             CA
192            Gaithersburg             MD
193           San Francisco             CA
194                New York             NY
195              San Carlos             CA
196              Fort Worth             TX
198            Cedar Rapids             IA
199                  Remote         Remote
200                 Chicago             IL
201                  McLean             VA
202            Fort Belvoir             VA
203           San Francisco             CA
204               Cambridge             MA
205       Linthicum Heights             MD
206                 Herndon             VA
207             Maple Plain             MN
208                   Tulsa             OK
209      Annapolis Junction             MD
210                  Newton             MA
211                 Herndon             VA
212               Baltimore             MD
213                  Boston             MA
215            Gaithersburg             MD
216            Fort Belvoir             VA
217           Scotts Valley             CA
218                  Boston             MA
219            Redwood City             CA
220             Spartanburg             SC
221                New York             NY
222                 Orlando             FL
223              Cincinnati             OH
224           San Francisco             CA
225                Hartford             CT
226                 Chicago             IL
227           United States           None
228             Beavercreek             OH
229               Baltimore             MD
232               Oak Ridge             TN
233               Charlotte             NC
234                New York             NY
235               Champaign             IL
236           San Francisco             CA
237                   Texas           None
238           San Francisco             CA
239                   Plano             TX
240                 Atlanta             GA
241               Sheboygan             WI
242                New York             NY
243               Palo Alto             CA
245               Cambridge             MA
246                 Lebanon             IN
247                 Oakland             CA
248           San Francisco             CA
250                  Boston             MA
251              Birmingham             AL
252               Cleveland             OH
253                New York             NY
254                New York             NY
255           San Francisco             CA
256                 Norwell             MA
258                New York             NY
259                San Jose             CA
260           San Francisco             CA
261                 Waltham             MA
262               Lexington             MA
263                 Bothell             WA
264                Richland             WA
265                  Boston             MA
266               Rockville             MD
267              Piscataway             NJ
268                San Jose             CA
269                New York             NY
270             Santa Clara             CA
271                 Danvers             MA
272                New York             NY
273                  Vienna             VA
274           San Francisco             CA
275               Livermore             CA
276              Pittsburgh             PA
277                 Herndon             VA
278                  Boston             MA
279              Northbrook             IL
280                  Irvine             CA
281                  Irvine             CA
283            Santa Monica             CA
284                  Boston             MA
286                New York             NY
287                 Oshkosh             WI
288              San Carlos             CA
289              Menlo Park             CA
291                  Dallas             TX
292               Arlington             VA
293           San Francisco             CA
294                  Monroe             WI
295              Sacramento             CA
296                New York             NY
297                  Reston             VA
298                New York             NY
299                 Hampton             VA
300                Richmond             VA
301                New York             NY
302                Monterey             CA
303                 Chicago             IL
304                  McLean             VA
306                Woodlawn             MD
307           United States           None
308                New York             NY
309                  Reston             VA
310                New York             NY
311              Fort Worth             TX
313                 Atlanta             GA
314           San Francisco             CA
315               Ann Arbor             MI
316              Pittsburgh             PA
317                New York             NY
318            Cedar Rapids             IA
320                 Concord             CA
323           San Francisco             CA
324                Bellevue             WA
325           San Francisco             CA
326                 Oakland             CA
327           San Francisco             CA
328                  Boston             MA
330            Fort Belvoir             VA
331                  Durham             NC
332                New York             NY
333                  McLean             VA
334               Cambridge             MA
335                 Chicago             IL
336                    Kent             OH
337                  Reston             VA
339              Pittsburgh             PA
340                  Carson             CA
341                New York             NY
342                New York             NY
343             Santa Clara             CA
344               Palo Alto             CA
345             Maple Plain             MN
346              Cincinnati             OH
347                San Jose             CA
348             Santa Clara             CA
349                New York             NY
350               Chantilly             VA
353               Cambridge             MA
354                Columbia             MD
355      Annapolis Junction             MD
356            Falls Church             VA
363                 Herndon             VA
364               Cambridge             MA
365               Cambridge             MA
366                 Herndon             VA
368           Thousand Oaks             CA
369                  Boston             MA
370            Gaithersburg             MD
371                  Edison             NJ
372                 Adelphi             MD
373              Washington             DC
374                 Seattle             WA
375                   Plano             TX
376               Sunnyvale             CA
377                  Denver             CO
378           Thousand Oaks             CA
379                  McLean             VA
380           Scotts Valley             CA
381                  Boston             MA
383                Hartford             CT
384           San Francisco             CA
385                  Boston             MA
386                  Denver             CO
387               Cambridge             MA
390            Redwood City             CA
391                 Fremont             CA
392                Hamilton             NJ
393            Falls Church             VA
395            Indianapolis             IN
396              Washington             DC
397                 Herndon             VA
400                 Herndon             VA
401              Merrifield             VA
403            Philadelphia             PA
405                 Raleigh             NC
406           San Francisco             CA
407           San Francisco             CA
408                Columbia             MD
410                  Boston             MA
412               Sunnyvale             CA
413               San Ramon             CA
414              Washington             DC
415             Springfield             VA
416                 Phoenix             AZ
417                  Oxnard             CA
418             Kansas City             MO
419             Jersey City             NJ
420              Manchester             NH
421            Cedar Rapids             IA
422                 Winters             TX
423               Ann Arbor             MI
424                Brooklyn             NY
426                  McLean             VA
427                New York             NY
428             Saint Louis             MO
429                 Concord             CA
432           San Francisco             CA
433              Germantown             MD
434                   Omaha             NE
435                  McLean             VA
436               Open Fork             VA
439              San Carlos             CA
441                 Ashburn             VA
442                 Lombard             IL
443                 Hampton             VA
444           San Francisco             CA
445                New York             NY
446             Saint Louis             MO
447           San Francisco             CA
448                  Edison             NJ
449               Cambridge             MA
450              Alpharetta             GA
451                 Boulder             CO
452                 Atlanta             GA
453            Falls Church             VA
454           Mountain View             CA
455                    Kent             OH
456                Trumbull             CT
458              Pittsburgh             PA
460                New York             NY
461              Alpharetta             GA
462            Philadelphia             PA
463                  Carson             CA
464             Foster City             CA
465                New York             NY
466               Frederick             MD
467                 Chicago             IL
468             Santa Clara             CA
469                New York             NY
470             Maple Plain             MN
471        Colorado Springs             CO
472                San Jose             CA
473           United States           None
474              Cincinnati             OH
475                 Atlanta             GA
476              Washington             DC
477               Arlington             VA
478             Santa Clara             CA
479                   Tulsa             OK
480               Chantilly             VA
481              Southfield             MI
482           San Francisco             CA
483           United States           None
485               Cambridge             MA
486      Annapolis Junction             MD
487            Redwood City             CA
488              Washington             DC
489            San Clemente             CA
490                New York             NY
491            Falls Church             VA
492                  Newton             MA
493           San Francisco             CA
494              Washington             DC
501           The Woodlands             TX
502                 Seattle             WA
503                 Chicago             IL
505                 Chicago             IL
506           San Francisco             CA
507               Baltimore             MD
508              Pleasanton             CA
509              Wilmington             DE
510           United States           None
511                New York             NY
512                 Herndon             VA
513                 Seattle             WA
514                 Herndon             VA
515        Fort Sam Houston             TX
517          Lexington Park             MD
518                  Boston             MA
520              Washington             DC
521              Washington             DC
525              Washington             DC
526                 Seattle             WA
527                New York             NY
528              Washington             DC
529                Longmont             CO
530              Washington             DC
531              Washington             DC
532               Sunnyvale             CA
533           San Francisco             CA
534  Patuxent, Anne Arundel             MD
535             Santa Clara             CA
536                 Fairfax             VA
537                  Denver             CO

In [48]:
# Drop 'Location' column
data.drop(columns=['Location'], inplace = True)

In [49]:
# To know the work preference by defining a function to check for keywords in job description
def check_keywords(description):
    keywords = []
    if 'remote' in description.lower():
        keywords.append('Remote')
    if 'hybrid' in description.lower():
        keywords.append('Hybrid')
    if 'office' in description.lower():
        keywords.append('Office')
    return ', '.join(keywords) if keywords else 'Not Specified'

# Create a new column 'Work_Preference' and apply the function to the 'Job Description' column
data['Work_Preference'] = data['Job Description'].apply(check_keywords)

# Check the distribution of the work preference
data['Work_Preference'].value_counts()

Not Specified     411
Office            104
Remote             43
Remote, Office     12
Hybrid              4
Hybrid, Office      1
Name: Work_Preference, dtype: int64

### Column 7: Headquarters

In [50]:
# Check the distribution of headquarters and identify outlier
data['Headquarters'].value_counts()

New York, NY                 32
San Francisco, CA            29
Chicago, IL                  21
Boston, MA                   18
Reston, VA                   14
Mc Lean, VA                  13
Westminster, CO              12
Cambridge, United Kingdom    10
Cambridge, MA                 8
Vienna, VA                    8
Arlington, VA                 7
San Jose, CA                  7
Woodbine, MD                  7
Denver, CO                    7
Saint Louis, MO               7
Mountain View, CA             6
San Rafael, CA                6
Basel, Switzerland            6
Washington, DC                6
Chantilly, VA                 6
Houston, TX                   5
Springfield, MA               5
Pittsburgh, PA                5
Herndon, VA                   5
Bedford, MA                   5
Bellevue, WA                  5
Santa Cruz, CA                4
Santa Clara, CA               4
Rockville, MD                 4
Los Angeles, CA               4
Fairfax, VA                   4
Annapolis Junction, MD        4
Palo Alto, CA                 4
Raleigh, NC                   4
Aliso Viejo, CA               4
Falls Church, VA              4
Orlando, FL                   4
Cedar Rapids, IA              4
Memphis, TN                   4
Maple Plain, MN               3
Jersey City, NJ               3
Minneapolis, MN               3
McLean, VA                    3
Sunnyvale, CA                 3
Naperville, IL                3
Pleasanton, CA                3
Indianapolis, IN              3
Columbus, OH                  3
Paris, France                 3
Winter Park, FL               3
Hartford, CT                  3
Carson, CA                    3
Richland, WA                  3
Princeton, NJ                 3
Atlanta, GA                   3
Seattle, WA                   3
Lincoln, NE                   3
Alexandria, VA                3
Folsom, CA                    3
San Diego, CA                 3
Irvine, CA                    2
Kent, WA                      2
Hamilton, Bermuda             2
Lynchburg, VA                 2
Cupertino, CA                 2
San Carlos, CA                2
Waltham, MA                   2
Carle Place, NY               2
North Brunswick, NJ           2
Fort Worth, TX                2
Coconut Creek, FL             2
Columbia, MD                  2
Lorton, VA                    2
Itasca, IL                    2
Fairmont, WV                  2
Toronto, Canada               2
London, United Kingdom        2
Plainsboro, NJ                2
Somerset, NJ                  2
Danville, CA                  2
Kent, OH                      2
Edison, NJ                    2
Wilmington, MA                2
Nashville, TN                 2
Germantown, MD                2
-1                            2
Kansas City, MO               2
New York, 061                 2
Saint Paul, MN                2
Scotts Valley, CA             2
Greenville, SC                2
Bethesda, MD                  2
Santa Barbara, CA             2
Northbrook, IL                2
Mays Landing, NJ              2
Lexington, MA                 2
Sheboygan, WI                 2
Santa Monica, CA              2
Singapore, Singapore          2
OSAKA, Japan                  2
San Ramon, CA                 2
Emeryville, CA                2
Austin, TX                    2
South Jordan, UT              2
Holmdel, NJ                   2
San Mateo, CA                 2
Chevy Chase, MD               2
Stamford, CT                  2
Spartanburg, SC               1
Carpinteria, CA               1
Aurora, Canada                1
Chandler, AZ                  1
Glen Allen, VA                1
Columbia, MO                  1
Chadds Ford, PA               1
Trumbull, CT                  1
Armonk, NY                    1
Ventura, CA                   1
Ewing, NJ                     1
Marcy-l'Etoile, France        1
New Orleans, LA               1
Cherry Hill, NJ               1
Ashburn, VA                   1
Clifton Park, NY              1
Omaha, NE                     1
Akron, OH                     1
Alpharetta, GA                1
Menlo Park, CA                1
Bengaluru, India              1
Zurich, Switzerland           1
Hanover, MD                   1
Hilliard, OH                  1
Tempe, AZ                     1
Blue Bell, PA                 1
Wilsonville, OR               1
Troy, MI                      1
Utica, MI                     1
West Chester, PA              1
San Bruno, CA                 1
Fremont, CA                   1
Oakville, Canada              1
Littleton, CO                 1
Orange, CA                    1
Westlake Village, CA          1
Albertville, AL               1
Plano, TX                     1
Langley, VA                   1
Brentford, United Kingdom     1
Rancho Cucamonga, CA          1
South San Francisco, CA       1
Simi Valley, CA               1
Milan, IL                     1
Rome, NY                      1
Totowa, NJ                    1
Tampa, FL                     1
Bad Ragaz, Switzerland        1
Redwood City, CA              1
Honolulu, HI                  1
Lombard, IL                   1
Phila, PA                     1
Woburn, MA                    1
Woodbridge, NJ                1
Birmingham, AL                1
Lehi, UT                      1
Livermore, CA                 1
Goleta, CA                    1
Philadelphia, PA              1
Danvers, MA                   1
Piscataway, NJ                1
Franklin, TN                  1
Lutherville Timonium, MD      1
Burlingame, CA                1
Cleveland, OH                 1
Schaumburg, IL                1
Aurora, CO                    1
Santa Ana, CA                 1
Greenwich, CT                 1
Beavercreek, OH               1
Bangalore, India              1
Bristol, PA                   1
Saxonburg, PA                 1
Charlotte, NC                 1
Baltimore, MD                 1
Tel Aviv-Yafo, Israel         1
Chennai, India                1
Dallas, TX                    1
Lake Oswego, OR               1
Reading, MA                   1
Holyoke, MA                   1
Coral Gables, FL              1
Brisbane, CA                  1
Deerfield, IL                 1
Benicia, CA                   1
Carmel, IN                    1
Harrisburg, PA                1
Durham, NC                    1
Detroit, MI                   1
Dulles, VA                    1
Yakima, WA                    1
Beltsville, MD                1
Oshkosh, WI                   1
Irving, TX                    1
Scottsdale, AZ                1
Greensboro, NC                1
Newark, CA                    1
Richmond, VA                  1
Schaffhausen, Switzerland     1
Lake Buena Vista, FL          1
Goteborg, Sweden              1
Monroe, WI                    1
Hillsborough, NJ              1
Fort Lee, NJ                  1
Name: Headquarters, dtype: int64

In [51]:
# Replace outliers with NA
data['Headquarters'].replace('-1', 'NA', inplace=True)

In [52]:
# Split the "Headquarters" into "Headquarters_City" and "Headquarters_State" 
data[['Headquarters_City', 'Headquarters_State']] = data['Headquarters'].str.rsplit(', ', 1, expand=True)

In [53]:
# Display the output to verify the newly created columns
data[['Headquarters_City', 'Headquarters_State']]

        Headquarters_City Headquarters_State
0                New York                 NY
1                 Herndon                 VA
2                  Boston                 MA
3               Bad Ragaz        Switzerland
4                New York                 NY
5           Santa Barbara                 CA
6                   Basel        Switzerland
7                 Bedford                 MA
8           Mountain View                 CA
9                 Chicago                 IL
10                Mc Lean                 VA
11            Saint Louis                 MO
12               Richland                 WA
13             Northbrook                 IL
14              Princeton                 NJ
15           Mays Landing                 NJ
16             Washington                 DC
17                Memphis                 TN
18                  Tempe                 AZ
20          San Francisco                 CA
21               New York                 NY
23               New York                 NY
24                Chicago                 IL
25                Atlanta                 GA
26                Orlando                 FL
27              Lexington                 MA
28           Falls Church                 VA
29          San Francisco                 CA
30                 Boston                 MA
31                  Basel        Switzerland
32                 Boston                 MA
33              Sheboygan                 WI
34                Seattle                 WA
35               Bellevue                 WA
36                Lincoln                 NE
37               New York                 NY
38              Chantilly                 VA
39           Santa Monica                 CA
40                 Boston                 MA
41                 Boston                 MA
42                  Ewing                 NJ
44              Palo Alto                 CA
45               New York                 NY
46                 Boston                 MA
47               Bellevue                 WA
48              Singapore          Singapore
49              Cambridge                 MA
50          San Francisco                 CA
51                  OSAKA              Japan
52            Santa Clara                 CA
53                 Vienna                 VA
54            New Orleans                 LA
55                  Akron                 OH
56            Saint Louis                 MO
57          San Francisco                 CA
58          San Francisco                 CA
59            Saint Louis                 MO
60                 Zurich        Switzerland
61                 Woburn                 MA
62                Bedford                 MA
63          Santa Barbara                 CA
64                 Carson                 CA
65           Coral Gables                 FL
66               New York                 NY
67              San Ramon                 CA
68                Chicago                 IL
69               Brisbane                 CA
70            Winter Park                 FL
71                Chicago                 IL
72             San Rafael                 CA
73              Deerfield                 IL
75                 Carmel                 IN
76               New York                 NY
77            Chevy Chase                 MD
78               Hartford                 CT
79             Emeryville                 CA
80              Cambridge     United Kingdom
81              Rockville                 MD
82            Minneapolis                 MN
83                Chicago                 IL
84                 Austin                 TX
85          San Francisco                 CA
86                 Yakima                 WA
87             Santa Cruz                 CA
88                 Boston                 MA
89                Mc Lean                 VA
90              Cambridge     United Kingdom
91                Mc Lean                 VA
92                Herndon                 VA
93           South Jordan                 UT
94              Princeton                 NJ
95          Mountain View                 CA
96                 Reston                 VA
97                Mc Lean                 VA
98                 Denver                 CO
99             Washington                 DC
100               Holmdel                 NJ
101                Aurora                 CO
102             San Mateo                 CA
103            San Rafael                 CA
104         Mountain View                 CA
105                Goleta                 CA
106              Franklin                 TN
107          Indianapolis                 IN
108             Palo Alto                 CA
109                Reston                 VA
110              New York                 NY
111  Lutherville Timonium                 MD
112           Westminster                 CO
113            Burlingame                 CA
114                Reston                 VA
115              New York                 NY
116    Annapolis Junction                 MD
117              New York                 NY
119              Bethesda                 MD
120           Beavercreek                 OH
121         San Francisco                 CA
122               Mc Lean                 VA
123           Winter Park                 FL
124            Schaumburg                 IL
125             Sunnyvale                 CA
126           Saint Louis                 MO
127               Chicago                 IL
128           Winter Park                 FL
129             Sunnyvale                 CA
130         San Francisco                 CA
131                  Lehi                 UT
132              New York                 NY
133           Lake Oswego                 OR
134         San Francisco                 CA
137             San Mateo                 CA
138           Saint Louis                 MO
139             Palo Alto                 CA
140               Holyoke                 MA
141               Chicago                 IL
142         San Francisco                 CA
143               Bedford                 MA
144                Dulles                 VA
146                Boston                 MA
148             Cambridge                 MA
149               Detroit                 MI
150              Stamford                 CT
152           Carpinteria                 CA
155        Marcy-l'Etoile             France
156               Mc Lean                 VA
157          Mays Landing                 NJ
159                Reston                 VA
160         San Francisco                 CA
161              Columbia                 MO
162           Westminster                 CO
163            Washington                 DC
165              Chandler                 AZ
166            San Rafael                 CA
167               Herndon                 VA
168                Aurora             Canada
169             Blue Bell                 PA
170                  Troy                 MI
171               Chicago                 IL
172          Redwood City                 CA
173              New York                 NY
174             San Diego                 CA
175               Chicago                 IL
176            Greenville                 SC
177              Richland                 WA
178               Memphis                 TN
179             Arlington                 VA
181            Harrisburg                 PA
182              Hamilton            Bermuda
183             Lynchburg                 VA
184         San Francisco                 CA
185           Springfield                 MA
186            San Carlos                 CA
189               Waltham                 MA
190              San Jose                 CA
191         Mountain View                 CA
192             Cambridge     United Kingdom
193           Jersey City                 NJ
194             Cambridge     United Kingdom
195            Santa Cruz                 CA
196            Fort Worth                 TX
198          Cedar Rapids                 IA
199            Washington                 DC
200               Chicago                 IL
201                McLean                 VA
202                Lorton                 VA
203         San Francisco                 CA
204                 Basel        Switzerland
205               Mc Lean                 VA
206               Mc Lean                 VA
207           Maple Plain                 MN
208                  Kent                 WA
209              Woodbine                 MD
210                Denver                 CO
211           Westminster                 CO
212              Woodbine                 MD
213                Boston                 MA
215             Cambridge     United Kingdom
216                Reston                 VA
217         Scotts Valley                 CA
218           Springfield                 MA
219               Chicago                 IL
220           Spartanburg                 SC
221              New York                 NY
222               Orlando                 FL
223            Greenville                 SC
224         San Francisco                 CA
225            Woodbridge                 NJ
226               Chennai              India
227         Tel Aviv-Yafo             Israel
228             Arlington                 VA
229             Baltimore                 MD
232             Lynchburg                 VA
233             Charlotte                 NC
234              Hamilton            Bermuda
235             Saxonburg                 PA
236               Bristol                 PA
237              San Jose                 CA
238         San Francisco                 CA
239             Bangalore              India
240               Atlanta                 GA
241             Sheboygan                 WI
242              New York                 NY
243         Mountain View                 CA
245                 Paris             France
246             Greenwich                 CT
247             Santa Ana                 CA
248               Houston                 TX
250           Springfield                 MA
251            Birmingham                 AL
252             Cleveland                 OH
253            Washington                 DC
254              New York                 NY
255            Pleasanton                 CA
256              Columbus                 OH
258                    NA               None
259              New York                 NY
260              San Jose                 CA
261               Waltham                 MA
262             Lexington                 MA
263              Bellevue                 WA
264              Richland                 WA
265                Boston                 MA
266             Rockville                 MD
267            Piscataway                 NJ
268              San Jose                 CA
269              New York                 NY
270         Mountain View                 CA
271               Danvers                 MA
272          Philadelphia                 PA
273               Fairfax                 VA
274           Jersey City                 NJ
275             Livermore                 CA
276            Pittsburgh                 PA
277                Dallas                 TX
278                Boston                 MA
279            Northbrook                 IL
280               Toronto             Canada
281                Irvine                 CA
283          Santa Monica                 CA
284                Boston                 MA
286             Cambridge     United Kingdom
287               Oshkosh                 WI
288            Santa Cruz                 CA
289            Pittsburgh                 PA
291          Hillsborough                 NJ
292                Reston                 VA
293              New York                 NY
294                Monroe                 WI
295              Goteborg             Sweden
296              New York                 NY
297            Washington                 DC
298      Lake Buena Vista                 FL
299          Schaffhausen        Switzerland
300              Richmond                 VA
301                Newark                 CA
302            Greensboro                 NC
303         San Francisco                 CA
304          Falls Church                 VA
306             Rockville                 MD
307            Scottsdale                 AZ
308                Irving                 TX
309            Beltsville                 MD
310               Houston                 TX
311            Fort Worth                 TX
313               Toronto             Canada
314         San Francisco                 CA
315                 Paris             France
316            Pittsburgh                 PA
317            Naperville                 IL
318          Cedar Rapids                 IA
320               Memphis                 TN
323             Singapore          Singapore
324              Bellevue                 WA
325         San Francisco                 CA
326              Somerset                 NJ
327                London     United Kingdom
328               Raleigh                 NC
330                Lorton                 VA
331                Durham                 NC
332              New York                 NY
333    Annapolis Junction                 MD
334                 Basel        Switzerland
335               Chicago                 IL
336                  Kent                 OH
337             Chantilly                 VA
339            Pittsburgh                 PA
340                Carson                 CA
341       North Brunswick                 NJ
342              New York                 NY
343           Santa Clara                 CA
344             Palo Alto                 CA
345           Maple Plain                 MN
346               Lincoln                 NE
347              San Jose                 CA
348               Benicia                 CA
349              New York                 NY
350    Annapolis Junction                 MD
353             Cambridge                 MA
354              Columbia                 MD
355              Woodbine                 MD
356                Vienna                 VA
363           Westminster                 CO
364             Cambridge                 MA
365                 OSAKA              Japan
366           Westminster                 CO
368              Danville                 CA
369                Boston                 MA
370             Cambridge     United Kingdom
371            Wilmington                 MA
372             Chantilly                 VA
373              New York                061
374               Seattle                 WA
375               Reading                 MA
376            Pleasanton                 CA
377                Denver                 CO
378                Folsom                 CA
379               Raleigh                 NC
380         Scotts Valley                 CA
381           Springfield                 MA
383              Hartford                 CT
384         San Francisco                 CA
385                Boston                 MA
386                Denver                 CO
387             Cambridge                 MA
390               Chicago                 IL
391           Wilsonville                 OR
392             Princeton                 NJ
393          Falls Church                 VA
395                Boston                 MA
396                Folsom                 CA
397           Westminster                 CO
400               Mc Lean                 VA
401                Vienna                 VA
403                 Phila                 PA
405          Indianapolis                 IN
406         San Francisco                 CA
407         San Francisco                 CA
408              Columbia                 MD
410                Boston                 MA
412                London     United Kingdom
413              Hilliard                 OH
414               Hanover                 MD
415             Arlington                 VA
416                Irvine                 CA
417               Mc Lean                 VA
418           Kansas City                 MO
419             Bengaluru              India
420            Menlo Park                 CA
421          Cedar Rapids                 IA
422            Alpharetta                 GA
423                 Paris             France
424                    NA               None
426                McLean                 VA
427              New York                 NY
428           Saint Louis                 MO
429               Memphis                 TN
432         San Francisco                 CA
433            Germantown                 MD
434                 Omaha                 NE
435                Reston                 VA
436          Clifton Park                 NY
439            San Carlos                 CA
441               Ashburn                 VA
442             Nashville                 TN
443            Alexandria                 VA
444           Los Angeles                 CA
445              New York                 NY
446           Saint Louis                 MO
447            San Rafael                 CA
448                Edison                 NJ
449                 Basel        Switzerland
450              Somerset                 NJ
451               Ventura                 CA
452                Armonk                 NY
453               Fairfax                 VA
454              San Jose                 CA
455                  Kent                 OH
456              Trumbull                 CT
458            Pittsburgh                 PA
460              New York                 NY
461           Minneapolis                 MN
462           Chadds Ford                 PA
463                Carson                 CA
464                Edison                 NJ
465       North Brunswick                 NJ
466               Chicago                 IL
467               Chicago                 IL
468             San Ramon                 CA
469              New York                 NY
470           Maple Plain                 MN
471           Los Angeles                 CA
472              San Jose                 CA
473              Stamford                 CT
474               Lincoln                 NE
475               Atlanta                 GA
476              New York                 NY
477             Arlington                 VA
478           Santa Clara                 CA
479                  Kent                 WA
480    Annapolis Junction                 MD
481            Saint Paul                 MN
482            Glen Allen                 VA
483                Reston                 VA
485             Cambridge                 MA
486              Woodbine                 MD
487               Chicago                 IL
488           Chevy Chase                 MD
489           Aliso Viejo                 CA
490            Plainsboro                 NJ
491                Vienna                 VA
492                Denver                 CO
493         San Francisco                 CA
494              Fairmont                 WV
501               Houston                 TX
502           Jersey City                 NJ
503           Cherry Hill                 NJ
505                Itasca                 IL
506         San Francisco                 CA
507              Woodbine                 MD
508                 Basel        Switzerland
509             Cambridge     United Kingdom
510           Los Angeles                 CA
511         Coconut Creek                 FL

In [54]:
# Drop 'Headquarters' column
data.drop(columns=['Headquarters'], inplace=True)

In [55]:
# Display the distribution of the headquartes in each state and city
Headquarters = data.pivot_table(index=['Headquarters_State','Headquarters_City'], values='Company Name', aggfunc='count')
Headquarters.rename(columns={'Company Name': 'Count'}, inplace=True)
Headquarters

                                         Count
Headquarters_State Headquarters_City
061                New York                  2
AL                 Albertville               1
                   Birmingham                1
AZ                 Chandler                  1
                   Scottsdale                1
                   Tempe                     1
Bermuda            Hamilton                  2
CA                 Aliso Viejo               4
                   Benicia                   1
                   Brisbane                  1
                   Burlingame                1
                   Carpinteria               1
                   Carson                    3
                   Cupertino                 2
                   Danville                  2
                   Emeryville                2
                   Folsom                    3
                   Fremont                   1
                   Goleta                    1
                   Irvine                    2
                   Livermore                 1
                   Los Angeles               4
                   Menlo Park                1
                   Mountain View             6
                   Newark                    1
                   Orange                    1
                   Palo Alto                 4
                   Pleasanton                3
                   Rancho Cucamonga          1
                   Redwood City              1
                   San Bruno                 1
                   San Carlos                2
                   San Diego                 3
                   San Francisco            29
                   San Jose                  7
                   San Mateo                 2
                   San Rafael                6
                   San Ramon                 2
                   Santa Ana                 1
                   Santa Barbara             2
                   Santa Clara               4
                   Santa Cruz                4
                   Santa Monica              2
                   Scotts Valley             2
                   Simi Valley               1
                   South San Francisco       1
                   Sunnyvale                 3
                   Ventura                   1
                   Westlake Village          1
CO                 Aurora                    1
                   Denver                    7
                   Littleton                 1
                   Westminster              12
CT                 Greenwich                 1
                   Hartford                  3
                   Stamford                  2
                   Trumbull                  1
Canada             Aurora                    1
                   Oakville                  1
                   Toronto                   2
DC                 Washington                6
FL                 Coconut Creek             2
                   Coral Gables              1
                   Lake Buena Vista          1
                   Orlando                   4
                   Tampa                     1
                   Winter Park               3
France             Marcy-l'Etoile            1
                   Paris                     3
GA                 Alpharetta                1
                   Atlanta                   3
HI                 Honolulu                  1
IA                 Cedar Rapids              4
IL                 Chicago                  21
                   Deerfield                 1
                   Itasca                    2
                   Lombard                   1
                   Milan                     1
                   Naperville                3
                   Northbrook                2
                   Schaumburg                1
IN                 Carmel                    1
                   Indianapolis              3
India              Bangalore                 1
                   Bengaluru                 1
                   Chennai                   1
Israel             Tel Aviv-Yafo             1
Japan              OSAKA                     2
LA                 New Orleans               1
MA                 Bedford                   5
                   Boston                   18
                   Cambridge                 8
                   Danvers                   1
                   Holyoke                   1
                   Lexington                 2
                   Reading                   1
                   Springfield               5
                   Waltham                   2
                   Wilmington                2
                   Woburn                    1
MD                 Annapolis Junction        4
                   Baltimore                 1
                   Beltsville                1
                   Bethesda                  2
                   Chevy Chase               2
                   Columbia                  2
                   Germantown                2
                   Hanover                   1
                   Lutherville Timonium      1
                   Rockville                 4
                   Woodbine                  7
MI                 Detroit                   1
                   Troy                      1
                   Utica                     1
MN                 Maple Plain               3
                   Minneapolis               3
                   Saint Paul                2
MO                 Columbia                  1
                   Kansas City               2
                   Saint Louis               7
NC                 Charlotte                 1
                   Durham                    1
                   Greensboro                1
                   Raleigh                   4
NE                 Lincoln                   3
                   Omaha                     1
NJ                 Cherry Hill               1
                   Edison                    2
                   Ewing                     1
                   Fort Lee                  1
                   Hillsborough              1
                   Holmdel                   2
                   Jersey City               3
                   Mays Landing              2
                   North Brunswick           2
                   Piscataway                1
                   Plainsboro                2
                   Princeton                 3
                   Somerset                  2
                   Totowa                    1
                   Woodbridge                1
NY                 Armonk                    1
                   Carle Place               2
                   Clifton Park              1
                   New York                 32
                   Rome                      1
OH                 Akron                     1
                   Beavercreek               1
                   Cleveland                 1
                   Columbus                  3
                   Hilliard                  1
                   Kent                      2
OR                 Lake Oswego               1
                   Wilsonville               1
PA                 Blue Bell                 1
                   Bristol                   1
                   Chadds Ford               1
                   Harrisburg                1
                   Phila                     1
                   Philadelphia              1
                   Pittsburgh                5
                   Saxonburg                 1
                   West Chester              1
SC                 Greenville                2
                   Spartanburg               1
Singapore          Singapore                 2
Sweden             Goteborg                  1
Switzerland        Bad Ragaz                 1
                   Basel                     6
                   Schaffhausen              1
                   Zurich                    1
TN                 Franklin                  1
                   Memphis                   4
                   Nashville                 2
TX                 Austin                    2
                   Dallas                    1
                   Fort Worth                2
                   Houston                   5
                   Irving                    1
                   Plano                     1
UT                 Lehi                      1
                   South Jordan              2
United Kingdom     Brentford                 1
                   Cambridge                10
                   London                    2
VA                 Alexandria                3
                   Arlington                 7
                   Ashburn                   1
                   Chantilly                 6
                   Dulles                    1
                   Fairfax                   4
                   Falls Church              4
                   Glen Allen                1
                   Herndon                   5
                   Langley                   1
                   Lorton                    2
                   Lynchburg                 2
                   Mc Lean                  13
                   McLean                    3
                   Reston                   14
                   Richmond                  1
                   Vienna                    8
WA                 Bellevue                  5
                   Kent                      2
                   Richland                  3
                   Seattle                   3
                   Yakima                    1
WI                 Monroe                    1
                   Oshkosh                   1
                   Sheboygan                 2
WV                 Fairmont                  2

In [56]:
# To select rows where both the 'Headquarters_State' is '061' and the 'Headquarters_City' is 'New York'.
#filtered_data = data[(data['Headquarters_State'] == '061') & (data['Headquarters_City'] == 'New York')]
#filtered_data

The state column for New York City contains noise data, which we are considering as 'Not Specified.' As for the state abbreviations, they are not easily recognizable. Hence, we are substituting these less familiar abbreviations with the more common state names.

In [57]:
data['Headquarters_State'] = data['Headquarters_State'].replace({'061':'Not Specified', 'AL': 'Alabama', 'AZ': 'Arizona',
                                                                'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 
                                                                'FL': 'Florida', 'GA':'Georgia', 'HI': 'Hawaii', 'IA':'Iowa', 
                                                                'IL':'Illinois', 'IN': 'Indiana', 'LA':'Louisiana', 'MA': 'Massachusetts',
                                                                'MD': 'Maryland', 'MI': 'Michigan', 'MN':'Minnesota', 'MO': 'Missouri',
                                                                'NC': 'North Carolina', 'NE': 'Nebraska', 'NJ': 'New Jersey',
                                                                'NY': 'New York', 'OH':'Ohio', 'OR':'Oregon', 'PA':'Pennsylvania',
                                                                'SC': 'South Carolina', 'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah',
                                                                'VA':'Virginia', 'WA':'Washington', 'WI':'Wisconsin', 'WV': 'West Virginia'})

In [58]:
# To verify the updated columns
Headquarters = data.pivot_table(index=['Headquarters_State','Headquarters_City'], values='Company Name', aggfunc='count')
Headquarters.rename(columns={'Company Name': 'Count'}, inplace=True)
Headquarters

                                         Count
Headquarters_State Headquarters_City
Alabama            Albertville               1
                   Birmingham                1
Arizona            Chandler                  1
                   Scottsdale                1
                   Tempe                     1
Bermuda            Hamilton                  2
California         Aliso Viejo               4
                   Benicia                   1
                   Brisbane                  1
                   Burlingame                1
                   Carpinteria               1
                   Carson                    3
                   Cupertino                 2
                   Danville                  2
                   Emeryville                2
                   Folsom                    3
                   Fremont                   1
                   Goleta                    1
                   Irvine                    2
                   Livermore                 1
                   Los Angeles               4
                   Menlo Park                1
                   Mountain View             6
                   Newark                    1
                   Orange                    1
                   Palo Alto                 4
                   Pleasanton                3
                   Rancho Cucamonga          1
                   Redwood City              1
                   San Bruno                 1
                   San Carlos                2
                   San Diego                 3
                   San Francisco            29
                   San Jose                  7
                   San Mateo                 2
                   San Rafael                6
                   San Ramon                 2
                   Santa Ana                 1
                   Santa Barbara             2
                   Santa Clara               4
                   Santa Cruz                4
                   Santa Monica              2
                   Scotts Valley             2
                   Simi Valley               1
                   South San Francisco       1
                   Sunnyvale                 3
                   Ventura                   1
                   Westlake Village          1
Canada             Aurora                    1
                   Oakville                  1
                   Toronto                   2
Colorado           Aurora                    1
                   Denver                    7
                   Littleton                 1
                   Westminster              12
Connecticut        Greenwich                 1
                   Hartford                  3
                   Stamford                  2
                   Trumbull                  1
DC                 Washington                6
Florida            Coconut Creek             2
                   Coral Gables              1
                   Lake Buena Vista          1
                   Orlando                   4
                   Tampa                     1
                   Winter Park               3
France             Marcy-l'Etoile            1
                   Paris                     3
Georgia            Alpharetta                1
                   Atlanta                   3
Hawaii             Honolulu                  1
Illinois           Chicago                  21
                   Deerfield                 1
                   Itasca                    2
                   Lombard                   1
                   Milan                     1
                   Naperville                3
                   Northbrook                2
                   Schaumburg                1
India              Bangalore                 1
                   Bengaluru                 1
                   Chennai                   1
Indiana            Carmel                    1
                   Indianapolis              3
Iowa               Cedar Rapids              4
Israel             Tel Aviv-Yafo             1
Japan              OSAKA                     2
Louisiana          New Orleans               1
Maryland           Annapolis Junction        4
                   Baltimore                 1
                   Beltsville                1
                   Bethesda                  2
                   Chevy Chase               2
                   Columbia                  2
                   Germantown                2
                   Hanover                   1
                   Lutherville Timonium      1
                   Rockville                 4
                   Woodbine                  7
Massachusetts      Bedford                   5
                   Boston                   18
                   Cambridge                 8
                   Danvers                   1
                   Holyoke                   1
                   Lexington                 2
                   Reading                   1
                   Springfield               5
                   Waltham                   2
                   Wilmington                2
                   Woburn                    1
Michigan           Detroit                   1
                   Troy                      1
                   Utica                     1
Minnesota          Maple Plain               3
                   Minneapolis               3
                   Saint Paul                2
Missouri           Columbia                  1
                   Kansas City               2
                   Saint Louis               7
Nebraska           Lincoln                   3
                   Omaha                     1
New Jersey         Cherry Hill               1
                   Edison                    2
                   Ewing                     1
                   Fort Lee                  1
                   Hillsborough              1
                   Holmdel                   2
                   Jersey City               3
                   Mays Landing              2
                   North Brunswick           2
                   Piscataway                1
                   Plainsboro                2
                   Princeton                 3
                   Somerset                  2
                   Totowa                    1
                   Woodbridge                1
New York           Armonk                    1
                   Carle Place               2
                   Clifton Park              1
                   New York                 32
                   Rome                      1
North Carolina     Charlotte                 1
                   Durham                    1
                   Greensboro                1
                   Raleigh                   4
Not Specified      New York                  2
Ohio               Akron                     1
                   Beavercreek               1
                   Cleveland                 1
                   Columbus                  3
                   Hilliard                  1
                   Kent                      2
Oregon             Lake Oswego               1
                   Wilsonville               1
Pennsylvania       Blue Bell                 1
                   Bristol                   1
                   Chadds Ford               1
                   Harrisburg                1
                   Phila                     1
                   Philadelphia              1
                   Pittsburgh                5
                   Saxonburg                 1
                   West Chester              1
Singapore          Singapore                 2
South Carolina     Greenville                2
                   Spartanburg               1
Sweden             Goteborg                  1
Switzerland        Bad Ragaz                 1
                   Basel                     6
                   Schaffhausen              1
                   Zurich                    1
Tennessee          Franklin                  1
                   Memphis                   4
                   Nashville                 2
Texas              Austin                    2
                   Dallas                    1
                   Fort Worth                2
                   Houston                   5
                   Irving                    1
                   Plano                     1
United Kingdom     Brentford                 1
                   Cambridge                10
                   London                    2
Utah               Lehi                      1
                   South Jordan              2
Virginia           Alexandria                3
                   Arlington                 7
                   Ashburn                   1
                   Chantilly                 6
                   Dulles                    1
                   Fairfax                   4
                   Falls Church              4
                   Glen Allen                1
                   Herndon                   5
                   Langley                   1
                   Lorton                    2
                   Lynchburg                 2
                   Mc Lean                  13
                   McLean                    3
                   Reston                   14
                   Richmond                  1
                   Vienna                    8
Washington         Bellevue                  5
                   Kent                      2
                   Richland                  3
                   Seattle                   3
                   Yakima                    1
West Virginia      Fairmont                  2
Wisconsin          Monroe                    1
                   Oshkosh                   1
                   Sheboygan                 2

In [59]:
# Resets the maximum number of displayed rows to its default setting
pd.reset_option('display.max_rows')

### Column 8: Size

In [60]:
# Check the distribution of employee size and identify outlier
data['Size'].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', 'Unknown'],
      dtype=object)

In [61]:
# Replace 'Unknown' with N/A for standardization 
data['Size'] = data['Size'].replace({'Unknown': 'N/A'})

In [62]:
# To check employee Size distribution and verify changes made
data['Size'].value_counts()

51 to 200 employees        126
1001 to 5000 employees      94
10000+ employees            76
201 to 500 employees        74
1 to 50 employees           71
501 to 1000 employees       69
5001 to 10000 employees     55
N/A                         10
Name: Size, dtype: int64

### Column 9: Founded

In [63]:
# Check the unique values in the 'Founded' column and identify outliers
data['Founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2011, 1860, 1992,
       2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966, 1912, 1958,
       2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995,   -1, 1982, 2001,
       1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939, 1967, 2002, 1963,
       1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004, 1918, 1954, 1955,
       2018, 1937, 2017, 1917, 1935, 1929, 1820, 1952, 1932, 1947, 1894,
       1960, 1788, 1984, 1933, 1880, 1887, 1970, 1980, 1989, 1908, 1853,
       1914, 1898, 1956, 1977, 1987, 1896, 1976, 1972, 1974, 1830, 1962],
      dtype=int64)

In [64]:
data['Founded'].value_counts()

-1       66
 2012    33
 2011    24
 1999    22
 1996    21
         ..
 1820     1
 1952     1
 1932     1
 1894     1
 1962     1
Name: Founded, Length: 99, dtype: int64

In [65]:
# Replace the outliers with NA
data['Founded'].replace(-1, 'NA', inplace=True)
data[['Founded']]

    Founded
0      1993
1      1968
2      1981
3      2000
4      1998
..      ...
665    2005
666    2010
667    1989
670      NA
671    1976

[575 rows x 1 columns]

The 'Founded' column represents the year in which a company was established. By subtracting this establishment year from the current year, we can determine the number of years a company has been actively operating in the market.

In [66]:
# Calculates the number of years since the founding of companies
from datetime import datetime

current_year = datetime.now().year
data['Years Since Founding'] = data['Founded'].apply(lambda x: current_year - int(x) if str(x).isdigit() else x)
data[['Years Since Founding']]

    Years Since Founding
0                     30
1                     55
2                     42
3                     23
4                     25
..                   ...
665                   18
666                   13
667                   34
670                   NA
671                   47

[575 rows x 1 columns]

In [67]:
# Remove 'Founded' column
data.drop(columns=['Founded'], inplace=True)

### Column 10: Type of ownership

In [68]:
# Check the unique values in the 'Type of ownership' column and identify outliers
data['Type of ownership'].unique()

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', 'Unknown',
       'Hospital', 'Self-employed', 'College / University', 'Contract'],
      dtype=object)

In [69]:
data[['Type of ownership']].value_counts()

Type of ownership
Company - Private                 358
Company - Public                  144
Nonprofit Organization             26
Subsidiary or Business Segment     23
Government                          9
Other Organization                  5
Private Practice / Firm             3
College / University                2
Self-employed                       2
Contract                            1
Hospital                            1
Unknown                             1
dtype: int64

In [70]:
# Check if any value in the 'Type of ownership' column contains leading or trailing spaces
has_spaces = data['Type of ownership'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:", has_spaces.any())

Leading or trailing spaces detected: False

### Column 11: Industry

In [71]:
# Check the unique values in the 'Type of ownership' column and identify outliers
data['Industry'].unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', 'Health Care Services & Hospitals', '-1',
       'Express Delivery Services', 'Staffing & Outsourcing',
       'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

In [72]:
# Replace the outliers/unknown with N/A
data['Industry'].replace({'-1':'N/A', 'Unknown':'N/A' }, inplace=True)

In [73]:
# To verify the changes made
data['Industry'].value_counts()

Computer Hardware & Software                55
IT Services                                 54
Biotech & Pharmaceuticals                   48
Enterprise Software & Network Solutions     42
Aerospace & Defense                         38
Staffing & Outsourcing                      36
Consulting                                  35
Insurance Carriers                          28
N/A                                         27
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            18
Federal Agencies                            15
Investment Banking & Asset Management       13
Research & Development                      11
Banks & Credit Unions                        8
Lending                                      7
Telecommunications Services                  5
Energy                                       5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Electrical & Electronic Manufacturing        3
Miscellaneous Manufacturing                  3
Wholesale                                    3
Industrial Manufacturing                     3
Consumer Products Manufacturing              3
Video Games                                  3
Accounting                                   3
Oil & Gas Services                           2
Transportation Equipment Manufacturing       2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Health, Beauty, & Fitness                    2
Construction                                 2
Express Delivery Services                    2
Financial Transaction Processing             2
Timber Operations                            2
Colleges & Universities                      2
Travel Agencies                              2
Logistics & Supply Chain                     1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Department, Clothing, & Shoe Stores          1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: Industry, dtype: int64

In [74]:
# Check if any value in the 'Industry' column contains leading or trailing spaces
has_spaces = data['Industry'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:", has_spaces.any())

Leading or trailing spaces detected: False

### Column 12: Sector

In [75]:
# Check the unique values in the 'Sector' column and identify outliers
data['Sector'].unique()

array(['Insurance', 'Business Services', 'Manufacturing',
       'Information Technology', 'Biotech & Pharmaceuticals', 'Retail',
       'Oil, Gas, Energy & Utilities', 'Government', 'Finance',
       'Aerospace & Defense', 'Health Care', '-1',
       'Transportation & Logistics', 'Media', 'Telecommunications',
       'Real Estate', 'Travel & Tourism', 'Agriculture & Forestry',
       'Education', 'Accounting & Legal', 'Non-Profit',
       'Construction, Repair & Maintenance', 'Consumer Services'],
      dtype=object)

In [76]:
# Replace the outliers/unknown with N/A
data['Sector'].replace({'-1':'N/A', 'Unknown':'N/A' }, inplace=True)

In [77]:
# Check the distribution of Sector
data['Sector'].value_counts()

Information Technology                178
Business Services                     111
Biotech & Pharmaceuticals              48
Aerospace & Defense                    38
Insurance                              32
Finance                                32
N/A                                    27
Manufacturing                          21
Health Care                            18
Government                             16
Oil, Gas, Energy & Utilities           10
Retail                                  7
Telecommunications                      7
Transportation & Logistics              6
Media                                   5
Real Estate                             3
Travel & Tourism                        3
Agriculture & Forestry                  3
Accounting & Legal                      3
Education                               2
Construction, Repair & Maintenance      2
Consumer Services                       2
Non-Profit                              1
Name: Sector, dtype: int64

In [78]:
# Check if any value in the 'Sector' column contains leading or trailing spaces
has_spaces = data['Sector'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:", has_spaces.any())

Leading or trailing spaces detected: False

In [79]:
# To verify the distribution of industries within each sector
industry_sector = data.pivot_table(index=['Sector', 'Industry'], values='Type of ownership', aggfunc='count')
industry_sector = industry_sector.rename(columns={'Type of ownership': 'Count'})
industry_sector

                                                                             Count
Sector                             Industry
Accounting & Legal                 Accounting                                    3
Aerospace & Defense                Aerospace & Defense                          38
Agriculture & Forestry             Farm Support Services                         1
                                   Timber Operations                             2
Biotech & Pharmaceuticals          Biotech & Pharmaceuticals                    48
Business Services                  Advertising & Marketing                      23
                                   Architectural & Engineering Services          3
                                   Consulting                                   35
                                   Research & Development                       11
                                   Staffing & Outsourcing                       36
                                   Wholesale                                     3
Construction, Repair & Maintenance Construction                                  2
Consumer Services                  Health, Beauty, & Fitness                     2
Education                          Colleges & Universities                       2
Finance                            Banks & Credit Unions                         8
                                   Financial Transaction Processing              2
                                   Investment Banking & Asset Management        13
                                   Lending                                       7
                                   Venture Capital & Private Equity              2
Government                         Federal Agencies                             15
                                   State & Regional Agencies                     1
Health Care                        Health Care Services & Hospitals             18
Information Technology             Computer Hardware & Software                 55
                                   Enterprise Software & Network Solutions      42
                                   IT Services                                  54
                                   Internet                                     27
Insurance                          Insurance Agencies & Brokerages               4
                                   Insurance Carriers                           28
Manufacturing                      Chemical Manufacturing                        3
                                   Consumer Products Manufacturing               3
                                   Electrical & Electronic Manufacturing         3
                                   Food & Beverage Manufacturing                 4
                                   Industrial Manufacturing                      3
                                   Miscellaneous Manufacturing                   3
                                   Transportation Equipment Manufacturing        2
Media                              News Outlet                                   1
                                   Publishing                                    1
                                   Video Games                                   3
N/A                                N/A                                          27
Non-Profit                         Social Assistance                             1
Oil, Gas, Energy & Utilities       Energy                                        5
                                   Oil & Gas Services                            2
                                   Utilities                                     3
Real Estate                        Real Estate                                   3
Retail                             Consumer Electronics & Appliances Stores      2
                                   Department, Clothing, & Shoe Stores           1
                                   Food & Beverage Stores                        1
                                   Other Retail Stores                           3
Telecommunications                 Cable, Internet & Telephone Providers         1
                                   Telecommunications Manufacturing              1
                                   Telecommunications Services                   5
Transportation & Logistics         Express Delivery Services                     2
                                   Logistics & Supply Chain                      1
                                   Rail                                          1
                                   Shipping                                      1
                                   Transportation Management                     1
Travel & Tourism                   Hotels, Motels, & Resorts                     1
                                   Travel Agencies                               2

### Column 13: Revenue

In [80]:
# Check the unique values in the 'Revenue' column and identify outliers
data['Revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)'], dtype=object)

In [81]:
# Check if any value in the 'Revenue' column contains leading or trailing spaces
spaces = data['Revenue'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:",spaces.any())

Leading or trailing spaces detected: False

In [82]:
# Replace various representations of "to" with a hyphen (-) 
data['Revenue'] = data['Revenue'].str.replace(r'\s*(?:to|𝑡𝑜)\s*', '-', regex=True)

In [83]:
# Remove the string " (USD)" 
data['Revenue'] = data['Revenue'].str.replace(' (USD)', '', regex=False)

In [84]:
# Replace outliers with NA
data['Revenue'].replace({'Unknown / Non-Applicable':'N/A', '-1':'N/A'}, inplace=True)

In [85]:
# To check the updated distribution of Revenue
data['Revenue'].value_counts()

N/A                        182
$100-$500 million           82
$10+ billion                58
$2-$5 billion               44
$10-$25 million             41
$25-$50 million             36
$1-$2 billion               33
$1-$5 million               29
$50-$100 million            25
$500 million-$1 billion     13
$5-$10 million              13
Less than $1 million        11
$5-$10 billion               8
Name: Revenue, dtype: int64

In [86]:
# Rename the 'Revenue' column 
data.rename(columns={'Revenue': 'Revenue (USD)'}, inplace=True)

### Column 14: Competitors

In [87]:
# Check the unique values in the 'Competitors' column and identify outliers
data['Competitors'].unique()

array(['EmblemHealth, UnitedHealth Group, Aetna', '-1',
       'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies',
       'Commerce Signals, Cardlytics, Yodlee',
       'Square, PayPal, H&R Block',
       'Leidos, CACI International, Booz Allen Hamilton',
       'Slalom, Daugherty Business Solutions',
       'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory',
       'CDW, PCM, SHI International',
       'Crossix Solutions Inc., AppNexus, The Trade Desk',
       'Northwestern Mutual', 'Puppet, Ansible, SaltStack',
       'Enlivant, Sunrise Senior Living, Brookdale Senior Living',
       'TrueCar, Cars.com, Kelley Blue Book',
       'Travelers, Allstate, State Farm', 'Novartis, Baxter, Pfizer',
       'Skyhigh Networks, Zscaler, NortonLifeLock',
       'Facebook, Google, Pinterest', 'DoorDash, Uber, Grubhub',
       'Munich Re, Hannover RE, SCOR', "IMAGE Skincare, Aveda, Kiehl's",
       'Luxoft, EPAM, Capgemini Invent', 'Sequenom',
       'Linqia, Collective Bias', 'John Deere, Komatsu, CNH Industrial',
       'CUNA Mutual, SWBC, Overby-Seawell', 'Zola Registry',
       'Colony Specialty, Markel, RLI',
       'Roche, GlaxoSmithKline, Novartis',
       'Solution Design Group, Intertech (Minnesota)',
       'Braintree, Authorize.Net, PayPal', 'Nielsen, Zappi, SurveyMonkey',
       'The World Bank, IMF', 'Booz Allen Hamilton, CACI International',
       'Booz Allen Hamilton, SAIC, LMI', 'Epic, CipherHealth',
       'Copper River Shared Services, Chenega Corporation, Deloitte',
       'Battelle, General Atomics, SAIC',
       'Arbella Insurance, Safety Insurance',
       'Engagio, Bombora, Terminus', 'Bosch, Lear Corporation, Faurecia',
       'Covance, ICON', 'Adecco, ManpowerGroup, Allegis Corporation',
       'GE Digital, Palantir Technologies, Uptake', 'PRA Group',
       'Genomic Health, 23andMe, Illumina', 'Drip, iContact, Mailchimp',
       "Children's Health, Texas Health Resources, Baylor Scott & White Health",
       'Harris, Fibertek', 'Monster Worldwide, CareerBuilder, Craigslist',
       'ManTech, Booz Allen Hamilton, Leidos',
       'Lumentum Operations, Keysight Technologies, O-Net Technologies',
       'Square, Amazon, Apple', 'Pfizer, GlaxoSmithKline',
       'DHL Supply Chain, UPS, FedEx',
       'Eaton, SMC Corporation, Bosch Rexroth',
       'Advisory Board, Booz Allen Hamilton, McKinsey & Company',
       'Amazon, Apple', 'Covidien, Boston Scientific', 'AT&T, Verizon',
       'Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories',
       'Fluor, Bechtel, AECOM', 'Intertek, SGS, Bureau Veritas',
       'Lockheed Martin, Caterpillar, John Deere',
       'Activision Blizzard, Electronic Arts',
       'MediaMath, Conversant, AppNexus', 'Archibus, iOffice, Planon',
       'ACRT Services, Bartlett Tree Experts',
       'TASC, Vencore, Booz Allen Hamilton',
       'Seagate Technology, Toshiba',
       'Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton',
       'Kforce, PageGroup, Robert Half',
       'TEKsystems, Kforce, Randstad US',
       'South Carolina Electric & Gas, Virginia Electric and Power',
       'Cadence Design Systems, Synopsys, Altium Limited',
       'CGI (Nevada), Accenture, Deloitte', 'Accenture, Deloitte, PwC',
       'Bechtel Jacobs, Black & Veatch, HNTB', 'Adecco, Manpower',
       'Acxiom, Merkle, Epsilon (North Carolina)',
       'Amazon, Accenture, Microsoft',
       'Booz Allen Hamilton, Deloitte, ERPi',
       'TEKsystems, Insight Global, Accenture',
       'H&M, Inditex, Fast Retailing',
       'Novartis, AstraZeneca, Siemens Healthineers',
       'Aquent, 24 Seven Talent',
       'Google, Microsoft, Samsung Electronics',
       'AppDynamics, Datadog, Dynatrace',
       'Liberty Mutual Insurance, EMPLOYERS, Travelers',
       'KPMG, Accenture, Deloitte',
       'General Atomics, Boeing, Northrop Grumman',
       'Pfizer, AstraZeneca, Merck',
       'Cognizant Technology Solutions, Infosys, Wipro', 'Humana',
       'Accenture, Northrop Grumman, Xerox',
       'United Natural Foods, US Foods, DPI Specialty Foods',
       'LivePerson, Salesforce, SAP', 'Zurich Insurance, AXA XL, Allianz',
       'CSC, ManTech, SAIC',
       'Genomic Health, Myriad Genetics, The Broad Institute'],
      dtype=object)

In [88]:
# Replace outliers with nan values
data['Competitors'].replace({'-1':'N/A'}, inplace=True)

In [89]:
#missing_values_rows = data[data['Competitors'].str.contains('Unknown', case=False, na=False)]
#missing_values_rows

In [90]:
# Check if any value in the 'Competitors' column contains leading or trailing spaces
spaces = data['Competitors'].str.contains(r'^\s|\s$')
print("Leading or trailing spaces detected:",spaces.any())

Leading or trailing spaces detected: False

In [91]:
# To check the updated distribution of Competitors
data['Competitors'].value_counts()

N/A                                                                                             423
Roche, GlaxoSmithKline, Novartis                                                                 10
Leidos, CACI International, Booz Allen Hamilton                                                   6
Linqia, Collective Bias                                                                           3
Commerce Signals, Cardlytics, Yodlee                                                              3
                                                                                               ...
Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories      1
Fluor, Bechtel, AECOM                                                                             1
Intertek, SGS, Bureau Veritas                                                                     1
Colony Specialty, Markel, RLI                                                                     1
Genomic Health, Myriad Genetics, The Broad Institute                                              1
Name: Competitors, Length: 100, dtype: int64

### Rearrange Columns

In [92]:
data.columns

Index(['Job Description', 'Rating', 'Company Name', 'Size',
       'Type of ownership', 'Industry', 'Sector', 'Revenue (USD)',
       'Competitors', 'Updated_Job_Title', 'Min Salary ($K)',
       'Max Salary ($K)', 'Average Salary ($K)', 'Common_Tools_Required',
       'Location_City', 'Location_State', 'Work_Preference',
       'Headquarters_City', 'Headquarters_State', 'Years Since Founding'],
      dtype='object')

In [93]:
reorder_col = ['Updated_Job_Title', 'Job Description', 'Common_Tools_Required', 'Min Salary ($K)',
       'Max Salary ($K)', 'Average Salary ($K)', 'Rating', 'Company Name', 'Location_City', 
       'Location_State', 'Headquarters_City', 'Headquarters_State', 'Size','Years Since Founding',
       'Type of ownership', 'Industry', 'Sector', 'Revenue (USD)', 'Competitors']

data = data[reorder_col]

In [94]:
data

,Updated_Job_Title,Job Description,Common_Tools_Required,Min Salary ($K),Max Salary ($K),Average Salary ($K),Rating,Company Name,Location_City,Location_State,Headquarters_City,Headquarters_State,Size,Years Since Founding,Type of ownership,Industry,Sector,Revenue (USD),Competitors
0,Data Scientist - Senior,Description\n\nThe Senior Data Scientist is re...,"R, AWS",137.0,171.0,154.0,3.1,Healthfirst,New York,NY,New York,New York,1001 to 5000 employees,30,Nonprofit Organization,Insurance Carriers,Insurance,N/A,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...","R, SQL, Hadoop",137.0,171.0,154.0,4.2,ManTech,Chantilly,VA,Herndon,Virginia,5001 to 10000 employees,55,Company - Public,Research & Development,Business Services,$1-$2 billion,N/A
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,"Python, R, AWS",137.0,171.0,154.0,3.8,Analysis Group,Boston,MA,Boston,Massachusetts,1001 to 5000 employees,42,Private Practice / Firm,Consulting,Business Services,$100-$500 million,N/A
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,"R, SQL, NoSQL, Git",137.0,171.0,154.0,3.5,INFICON,Newton,MA,Bad Ragaz,Switzerland,501 to 1000 employees,23,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100-$500 million,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,"Python, R, SQL, SAS",137.0,171.0,154.0,2.9,Affinity Solutions,New York,NY,New York,New York,51 to 200 employees,25,Company - Private,Advertising & Marketing,Business Services,N/A,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,Data Scientist,Criterion Systems seeks a Data Scientist to su...,"Python, R, SQL, Git",105.0,167.0,136.0,3.8,Criterion Systems Inc,Vienna,VA,Vienna,Virginia,201 to 500 employees,18,Company - Private,IT Services,Information Technology,$50-$100 million,N/A
666,Data Scientist,About Foundation Medicine:\n\nFoundation Medic...,"Python, R, SQL",105.0,167.0,136.0,4.0,Foundation Medicine,Boston,MA,Cambridge,Massachusetts,1001 to 5000 employees,13,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100-$500 million,"Genomic Health, Myriad Genetics, The Broad Ins..."
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,"Python, R, SQL, Power BI, Tableau, Hadoop",105.0,167.0,136.0,3.6,TRANZACT,Fort Lee,NJ,Fort Lee,New Jersey,1001 to 5000 employees,34,Company - Private,Advertising & Marketing,Business Services,N/A,N/A
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,"Python, R, Java, Scala, SQL, Hadoop, Spark",105.0,167.0,136.0,5.0,ChaTeck Incorporated,San Francisco,CA,Santa Clara,California,1 to 50 employees,NA,Company - Private,Advertising & Marketing,Business Services,$1-$5 million,N/A
671,Data Scientist,Description\n\nThe Data Scientist will be part...,"Python, R, SQL, Tableau, SAS",105.0,167.0,136.0,2.7,Flowers,New York,NY,Carle Place,New York,1001 to 5000 employees,47,Company - Public,Wholesale,Business Services,$1-$2 billion,N/A

### Save the DataFrame to a CSV file

In [95]:
data.to_csv('cleaned_dataset.csv', index=False)